* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #010208;
  --bg-text-grad: linear-gradient(99.05deg, #bc3cd8 0.07%, #c54b8c 106.32%);
  --primary-text-color: #e3e4e6;
  --secondary-text-color: #e3e4e68c;
}

body {
  font-family: "Work Sans";
  font-size: 10px;
  background: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 150%;
  font-weight: 300;
  color: var(--secondary-text-color);
}

h1 {
  font-size: 5.6em;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3.2em;
}
h4 {
  font-size: 2.4em;
}

h5 {
  font-size: 1.5em;
}

p {
  font-size: 1.8em;
}

.semibold {
  font-weight: 600;
  color: var(--primary-text-color);
}

a:link {
  text-decoration: none;
}

/* active link */
.active {
  background: var(--bg-text-grad);
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
}

.active::after {
  content: "";
  width: 9px;
  height: 1px;
  border: 1px solid var(--primary-text-color);
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

button {
  all: unset;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.6em;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  font-weight: 600;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

button.primary-btn {
  padding: 0.8em 2.8em;
  background: var(--bg-text-grad);
  border: 1px solid var(--primary-text-color);
}

button.secondary-btn {
  padding: 0.8em 1.6em;
  background: transparent;
  border: 1px solid var(--secondary-text-color);
}

.social-icon {
  opacity: 0.55;
}
.social-icon:hover {
  opacity: 1;
}

header,
main,
footer {
  width: 100%;
  max-width: 1440px;
  padding: 80px 110px;
  margin: 0 auto;
}

/* Header */
header {
  padding: 24px 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: inline-flex;
  gap: 32px;
  align-items: center;
}

nav a {
  text-transform: uppercase;
  font-size: 1.4em;
  color: var(--primary-text-color);
  line-height: 1.5;
  font-weight: 600;
}
